
#head1{
  border:            solid; 
  text-align:        center;
  background-color:  black;
  font-family:       "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:             lightgrey;
  border-color:      black;
  font-family:       arial;
  font-weight:       10px;
  font-family: 'Quicksand', sans-serif;
}


body{
  background-color: black;
  width: 100%;
}

#steve{
  width: 600px;
  padding: 10px;
  margin: 0 auto;
  display: block
}

#image_1{
width: 100%;
}